body {
    font-family: "Lucida Console", "Courier New", monospace;
    background: linear-gradient(to right, rgb(189, 189, 255), rgb(255, 233, 236));
    padding: 0;
    margin: 0;
    /* le voy a agregar espacio al body abajo para el footer -> porque al footer lo fijé abajo */
    padding-bottom: 150px;
}

header {
    text-align: center;
}

ul {
    /* le sacamos los puntos */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* para que no aparezcan las barras de navegación */
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    /* espacio dentro de link */
    padding: 14px 16px;
    /* le saco el subrayado */
    text-decoration: none;
}

/* not active -> para que no se aplique sobre el home */
li a:hover:not(.active) {
    background-color: #ac48a4;
}

.active {
    background-color: #f426d8;
}

h1 {
    background-color: rgb(26, 26, 26);
    padding: 10px;
    /* para que quede pegado arriba */
    margin: 0;
    color: #f426d8;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #333;
    color: #FFF;
    padding: 5px;
    text-align: center;
    clear: both;
    /* voy a hacer que se quede pegado el footer abajo */
    position: fixed;
    bottom: 0;
    width: 100%;
}