.toLeft {
    float: left;
    width: auto;
}

.toCenter {
    display: flex;
    justify-content: center;
    border: none;
}

.gallery {
    margin: 5px;
    border: 1px solid grey;
    float: left;
    width: 33vw;
}

div.gallery img {
    width: 100%;
    height: auto;
}
/*

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 33vw;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}*/

.description {
    padding: 15px;
    text-align: center;
    width: 300px;
}

/*
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 33vw;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    width: 300px;
}

.centrado {
    display: flex;
    justify-content: center;
}
*/

